*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f0ebf8;
  padding:30px;
  display:flex;
  justify-content:center;
}

.container{
  width:700px;
}

.header{
  background:white;
  padding:20px;
  border-radius:8px;
  border-top:8px solid #673ab7;
  margin-bottom:20px;
}

.header input{
  width:100%;
  font-size:22px;
  border:none;
  outline:none;
  font-weight:bold;
}

.header textarea{
  width:100%;
  border:none;
  resize:none;
  margin-top:8px;
  outline:none;
}

.controls{
  text-align:center;
  margin-bottom:20px;
}

.controls button{
  margin:5px;
  padding:8px 14px;
  border:none;
  background:#673ab7;
  color:white;
  border-radius:20px;
  cursor:pointer;
}

.card{
  background:white;
  padding:15px;
  border-radius:8px;
  margin-bottom:15px;
  position:relative;
}

.card input[type="text"]{
  width:100%;
  border:none;
  border-bottom:1px solid #ccc;
  margin-bottom:10px;
}

.delete{
  position:absolute;
  top:10px;
  right:15px;
  color:red;
  cursor:pointer;
}

.required{
  margin-top:10px;
}

.bottom-buttons{
  text-align:center;
  margin:20px 0;
}

.hidden{
  display:none;
}

.preview-form{
  background:white;
  padding:20px;
  border-radius:8px;
}

.preview-form input,
.preview-form textarea,
.preview-form select{
  width:100%;
  margin:8px 0;
  padding:8px;
}
